// Основные цвета
$black: #000000;
$black-desc: #1c1c1c;

// Оранжевый
$orange-warm: #f57f20;
$orange-dark: #d95319;
$orange-pal: #f8b400;

// Серый (для фоновых и нейтральных элементов)
$gray-light: #f5f5f5;
$gray-dark: #333333;

// Акцентные цвета
$white: #ffffff;
$gray-darker: rgb(36, 36, 36)